<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}-:&amp;[squeg.net)%.</title>
  <link href='http://fonts.googleapis.com/css?family=Lato|Ubuntu:500italic' rel='stylesheet' type='text/css' />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href="/assets/stylesheets/site.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheets/post-images.css" media="all" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
  {{ content }}
  <footer>
    <article>
      <hr />
      <h6>&copy; 2013 Bob Matcuk</h6>
    </article>
  </footer>
</body>
</html>